@import "compass/css3/transform"

$monospace:  "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace

#slideoutForm
  fieldset
    margin: 5px
  label
    display: block
  $dashed: 1px dashed black
  input[type=text],input[type=email]
    $no-border: 0px solid black
    border-top: $no-border
    border-right: $no-border
    border-left: $no-border
    border-bottom: $dashed
  textarea
    border: $dashed
  input[type=submit]
    border: $dashed
    font-family: $monospace
    background: white
    // display: block
    // margin: 0 auto
    &:hover
      +transform(translate(1px,1px))
