#slideoutForm
  fieldset
    margin: 3px
  label
    display: block
  $dashed: 1px dashed black
  input[type=text],input[type=email]
    $no-border: 0px solid black
    border-top: $no-border
    border-right: $no-border
    border-left: $no-border
    border-bottom: $dashed
  textarea
    border: $dashed
