/* line 22, ../sass/slide_out_panel.sass */
.slide {
  -webkit-transform: translate(300px, 0px);
  -moz-transform: translate(300px, 0px);
  -ms-transform: translate(300px, 0px);
  -o-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
}

/* line 25, ../sass/slide_out_panel.sass */
#slideout-ascii {
  position: relative;
  height: 500px;
  width: 300px;
  line-height: 90%;
  left: -200px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 34, ../sass/slide_out_panel.sass */
#slideout-ascii #slideout_background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
