/* line 23, ../sass/slide_out_panel.sass */
.slide {
  -webkit-transform: translate(250px, 0px);
  -moz-transform: translate(250px, 0px);
  -ms-transform: translate(250px, 0px);
  -o-transform: translate(250px, 0px);
  transform: translate(250px, 0px);
}

/* line 26, ../sass/slide_out_panel.sass */
.inchOut {
  -webkit-transform: translate(5px, 0px);
  -moz-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  -o-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

/* line 29, ../sass/slide_out_panel.sass */
#slideout-ascii {
  position: absolute;
  height: 500px;
  width: 250px;
  line-height: 90%;
  left: -250px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 38, ../sass/slide_out_panel.sass */
#slideout-ascii #slideout_background {
  position: absolute;
  margin: 0px;
  width: 280px;
  z-index: -1;
}
